<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('populate_data') }}" class="navbar-item">
                                Populate DB
                            </a>
                            <a href="{{ url_for('get_users') }}" class="navbar-item">
                                Get Artists
                            </a>
                            <a href="{{ url_for('create') }}" class="navbar-item">
                                Add Artist
                            </a>
                            <a href="{{ url_for('dropdb') }}" class="navbar-item">
                                Drop DB
                            </a>
                        </div>
                        
                        <div class="navbar-end">

                            <div class="navbar-item">
                                <form action="{{ url_for('search.search') }}" method="get">
                                    <div class="field has-addons">
                                        <div class="control">
                                            <input class="input" type="text" name="q" placeholder="Search artists, songs, albums..." value="{{ query }}">
                                        </div>
                                        <div class="control">
                                            <button type="submit" class="button is-info">
                                                <span class="icon">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="navbar-item">

                              <div class="buttons">
                                    
                                    {% if current_user.is_authenticated %}
                                    <!-- Greeting message for logged-in users -->
                                    <span class="navbar-item">Hello, {{ current_user.username }}!</span>
                                    <!-- Logout button for logged-in users -->
                                    <a class="button is-danger" href="{{ url_for('auth.logout') }}">
                                        Log out
                                    </a>
                                    {% else %}
                                        <!-- Login and Register buttons for guests -->
                                        <a class="button is-primary" href="{{ url_for('auth.register') }}">
                                            <strong>Register</strong>
                                        </a>
                                        <a class="button is-light" href="{{ url_for('auth.login') }}">
                                            Log in
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        {% block messages %}
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="notification is-warning">
                <button class="delete"></button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endblock %}
        
        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bulma JavaScript -->
    <script>
        document.querySelectorAll('.notification .delete').forEach(function (deleteButton) {
            deleteButton.addEventListener('click', function () {
                this.parentNode.remove();
            });
        });
    </script>
</body>

</html>
